*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ECF9FF;
  --secondary-collor: #000;
  --tertiary-collor: #000;
}
.dark-theme{
  --primary-color: #000;
  --secondary-collor: #040303;
  --tertiary-collor: #fff;
}

.dark__container {
  background-color: var(--primary-color) ;
  width: 100%;
  height: 0;
  position: absolute;
  top: 60px;
  max-width: 1300px;
}

.dark__content--wrapper {
  float: right;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;}

#icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 20px;
  opacity: 0.3;
}


@media screen and (max-width: 280px){
  .dark__content--wrapper {
    float: right;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    position:relative;
  }
  
  #icon {
    height: 15px;
    width: 15px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 3px;
    margin-right: 10px;
    opacity: 0.3;
  }
  
}

/* Start of navbar */
.navbar {
  background: var(--secondary-collor);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 130px;
}

#navbar__logo {
  background: #FDC830;
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);
  background: linear-gradient(to left, #F37335, #FDC830);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #F37335;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);
  color: #fff;
  transition: all 0.3s ease;
}

.button:hover {
  color: #F37335;
  transition: all 0.35s ease-in-out;
}

.navbar__links:hover {
  color: #FDC830;
  transition: all 0.3s ease;
}

/* Navbar mobile view */
@media screen and (max-width: 960px) {
  .navbar {
    height: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50;
    z-index: 1;
    width: 100%;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--secondary-collor);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 32vh;
    font-size: 1rem;
  }

  #navbar__logo {
    padding-left: 15px;
  }

  .navbar__toggle .bar {
    width: 20px;
    height: 2.5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #F37335;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center; 
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 1rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(180deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-180deg);
  }
}

@media screen and (max-width: 540px) {
  .navbar__menu.active {
    background: var(--secondary-collor);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 45vh;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 280px) {
  .navbar {
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -400px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--secondary-collor);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 0.8rem;
  }

  #navbar__logo {
    padding-left: 10px;
    font-size: 1rem;
  }

  .navbar__toggle .bar {
    width: 20px;
    height: 1px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #F37335;
  }

  .navbar__item {
    width: 100%;
    max-width: 280px;
  }

  .navbar__links {
    text-align: center; 
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 0.8rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 45px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(180deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-180deg);
  }
}

/* end of navbar */

/* ____________________________________________________________________________________________________________________*/

/* Preloader Section */





/* Hero Section */
.hero {
  background: var(--primary-color);
  padding: 200px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 20px;
  margin-bottom: 24px;
  color: #F8CBA6;
}

.hero__heading a {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  background: #FDC830; 
  background: -webkit-linear-gradient(to right, #F37335, #FDC830); 
  background: linear-gradient(to left, #F37335, #FDC830);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:  transparent;
}

.hero__heading span {
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:  transparent;
}

.hero__description {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  background: #FDC830;
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);
  background: linear-gradient(to right, #F37335, #FDC830);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:  transparent;
}

.hero__btn {
  font-size: 2rem;
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);
  padding: 15px 25px;
  border: none;
  border-radius: 900px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.hero__btn a {
  color: #F37335;
  position: relative;
  z-index: 2;
  text-decoration: none;
  border-radius: 900px;
}

.hero__btn:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #ffd194;
  transition: all 0.55s;
  border-radius: 900px;
}

.hero__btn:hover {
  color: #fff;
  border-radius: 900px;
}

.hero__btn:hover:after {
  width: 100%;
  border-radius: 900px;
}




/* Hero Section Mobile View */
@media screen and (max-width: 768px) {
  .hero {
    padding: 80px 0;
    width: 100%;
  }

  .hero__heading {
    font-size: 12px;
  }

  .hero__heading a {
    font-size: 50px;
    display: block;
  }

  .hero__heading span {
    font-size: 50px;
  }

  .hero__description {
    font-size: 19px;
  }

  .hero__btn {
    border: none;
    border-radius: 900px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    font-size: 1rem;
  }
}

@media screen and (max-width: 280px) {
  .hero {
    padding: 70px 0;
    width: 100%;
  }

  .hero__heading {
    font-size: 8px;
  }

  .hero__heading a {
    font-size: 30px;
    display: block;
  }

  .hero__heading span {
    font-size: 30px;
  }

  .hero__description {
    font-size: 10px;
    
  }

  .hero__btn {
    border: none;
    border-radius: 900px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    font-size: 1rem;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
/* End of Hero Section */


/* ____________________________________________________________________________________________________________________*/


/* About Section*/
.main {
  background-color: var(--primary-color);
  padding: 10rem 0;
  font-family:'Times New Roman', Times, serif;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 0px;
}

.main__content {
  color: #fff;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
}

.main__content h1 {
  font-size: 1rem;
  background: #FDC830;
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);
  background: linear-gradient(to right, #F37335, #FDC830);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
}

.main__content h2 {
  font-size: 3.3rem;
  background: #FDC830;
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);
  background: linear-gradient(to top, #F37335, #FDC830);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:  transparent;
  font-family:'Times New Roman', Times, serif;
}

.main__content p {
  font-size: 1.3rem;
  color: #c44c11;
  font-family:'Times New Roman', Times, serif;

}

.main__btn {
  font-size: 1rem;
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5); 
  padding: 13px 20px;
  border: none;
  border-radius: 2px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  font-size: 1rem;
  position: relative;
  z-index: 2;
  color: #DC5F00;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #ffd194;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.scroll--wrapper {
  text-align: right;
  position: sticky;
  width: 100%;
  height: 0;
  max-width: 1300px;
  float: right;
  top: 0;
  margin-right: 70px;
  margin-top: 10px;
  opacity: 0.5;
}

.scroll__scroll {
  font-size: 2rem;
  background: var(--tertiary-collor);
  padding: 4px 15px;
  border: none;
  border-radius: 900px;
  color: #fff;
  margin-top: 10rem;
  cursor: pointer;
  position: sticky;
  transition: all 0.35s;
  outline: none;
}

.scroll__scroll a {
  color: #c31432;
  position: sticky;
  z-index: 2;
  text-decoration: none;
  border-radius: 900px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5px;
}

.scroll__scroll :hover {
  transform-origin: bottom;
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 1100px){
  .scroll--wrapper {
    width: 100%;
    margin-right: 10px;
  }

  .scroll__scroll {
    font-size: 25px;
    padding: 5px 15px;
    border: none;
    border-radius: 900px;
  }
}

@media screen and (max-width: 412px){
  .scroll--wrapper {
    width: 100%;
    margin-right: 10px;
  }

  .scroll__scroll {
    font-size: 15px;
    padding: 2px 10px;
    border: none;
    border-radius: 900px;
  }
}


.main__img--container {
  text-align: center;
  align-items: center;
  margin: 0px;
  height: 720px;
  width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(10, 10, 10, 0.5) 100%), url(images/image\ 1.jpg);
  background-size: cover;
  position: relative;
}


/* About Mobile Responsive */
@media screen and (max-width: 1300px){
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--container {
    height: 400px;
    width: 400px;
    border-radius: 500px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .main__content h2 {
    font-size: 2.5rem;
  }

  .main__content p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column ;
    margin-inline: 2rem;
    text-align: justify;
  }
}

@media screen and (max-width: 1100px){
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--container {
    height: 400px;
    width: 400px;
    border-radius: 500px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .main__content h2 {
    font-size: 2.5rem;
  }

  .main__content p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column ;
    margin-inline: 2rem;
    text-align: justify;
  }
}


@media screen and (max-width: 412px){
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    width: 300px;
    height: 300px;
    border-radius: 500px;
    
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

@media screen and (max-width: 280px){
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    width: 200px;
    height: 200px;
    border-radius: 500px;
    
  }

  .main__content h1 {
    font-size: 0.5rem;
    margin-top: 0.6rem;
    text-align: left;
    margin-left: 35px;
  }

  .main__content h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .main__content p {
    margin-top: 0.2rem;
    font-size: 9px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .main__btn a{
    font-size: 9px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100px;
    padding: 0;
  }
  .main__btn {
    padding: 5px 5px;
    margin-top: 10px;
  }
}

/* End of About Section*/



/* ____________________________________________________________________________________________________________________*/


/* Projects Section */
.projects {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;

}

.projects h1 {
  background: #FDC830;
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);
  background: linear-gradient(to left, #F37335, #FDC830);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects__card:nth-child(1) {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/image\ 2.jpg);
  background-size: cover;
  transition: 0.3s ease-in;
}


.projects__card:nth-child(2) {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/image\ 6.jpg);
  background-size: cover;
  transition: 0.3s ease-in;
}



.projects__card h2 {
  text-align: left;
  margin-top: 260px;
  margin-left: 10px;
}

.projects__card p {
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 10px;
}

.projects__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.projects__btn a {
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: var(--secondary-collor);
  font-size: 1rem;
}

.projects__btn a:hover {
  cursor: pointer;
}

.projects__btn:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.projects__card a {
  color: #fff;
  padding: 14px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: var(--secondary-collor);
  font-size: 1rem;
}

.projects__card a:hover {
  cursor: pointer;
}


/* Project Mobile Responsive */

@media screen and (max-width: 1300px){
  .projects__wrapper{
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .projects__card:nth-child(1) {
    color: #fff;
    margin: 10px;
    height: 375px;
    width: 230px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/image\ 2.jpg);
    background-size: cover;
    transition: 0.3s ease-in;
  }
  
  .projects__card:nth-child(2) {
    color: #fff;
    margin: 10px;
    height: 375px;
    width: 230px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/image\ 3.jpg);
    background-size: cover;
    transition: 0.3s ease-in;
  }
  
  
  .projects__card h2 {
    text-align: left;
    margin-top: 260px;
    margin-left: 5px;
    font-size: 20px;
  }
  
  .projects__card p {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 5px;
  }
  
  .projects__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .projects__btn a {
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000;
    font-size: 1rem;
  }
  
  .projects__btn a:hover {
    cursor: pointer;
  }
  
  .projects__btn:hover {
    transform: scale(1.175);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .projects__card a {
    color: #fff;
    padding: 10px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000;
    font-size: 1rem;
  }
  
  .projects__card a:hover {
    cursor: pointer;
  }
  
  .projects__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
}

@media screen and (max-width: 968px){
  .projects__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projects__card:nth-child(1) {
    margin: 10px;
    height: 325px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/image\ 2.jpg);
    background-size: cover;
    transition: 0.3s ease-in;
  }

  .projects__card:nth-child(2) {
    margin: 10px;
    height: 325px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/image\ 3.jpg);
    background-size: cover;
    transition: 0.3s ease-in;
    }



  .projects__card h2 {
    text-align: left;
    margin-top: 220px;
    margin-left: 10px;
    font-size: 18px;
    }
    
  .projects__card p {
    text-align: left;
    margin-top: 6px;
    font-size: 13px;
    margin-left: 10px;
    }
    
  .projects__btn {
    display: flex;
    justify-content: center;
    margin-top: 05px;
    padding: 2px 2px;
    }
    
  .projects__btn a {
    color: #fff;
    padding: 1px 1px; 
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--secondary-collor);
    font-size: 0.2rem;
    }
  
  .projects__btn a:hover {
    cursor: pointer;
    }
  
  .projects__btn:hover {
    transform: scale(1.175);
    transition: 0.3s ease-in;
    cursor: pointer;
    }
  
  .projects__card a {
    color: #fff;
    padding: 10px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--secondary-collor);
    font-size: 0.8rem;
    }
  
  .projects__card a:hover {
    cursor: pointer;
    }
  
  .projects__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
    }
}

@media screen and (max-width: 280px){
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .projects h1 {
    font-size: 1.3rem;
    font-style: oblique;
  }

  .projects__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .projects__card:nth-child(1) {
    margin: 10px;
    height: 280px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/image\ 2.jpg);
    background-size: cover;
    transition: 0.3s ease-in;
  }


  .projects__card:nth-child(2) {
    margin: 10px;
    height: 280px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/image\ 6.jpg);
    background-size: cover;
    transition: 0.3s ease-in;
    }


  .projects__card h2 {
    text-align: left;
    margin-top: 150px;
    font-size: 18px;
    }
    
  .projects__card p {
    text-align: left;
    margin-top: 4px;
    font-size: 13px;
    }
    
  .projects__btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 2px 2px;
    }
    
  .projects__btn a {
    color: #fff;
    padding: 1px 1px; 
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--secondary-collor);
    font-size: 0.2rem;
    }
  
  .projects__btn a:hover {
    cursor: pointer;
    }
  
  .projects__btn:hover {
    transform: scale(1.175);
    transition: 0.3s ease-in;
    cursor: pointer;
    }
  
  .projects__card a {
    color: #fff;
    padding: 10px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--secondary-collor);
    font-size: 0.8rem;
    }
  
  .projects__card a:hover {
    cursor: pointer;
    }
  
  .projects__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
    }
}
/* End of Porject Section*/



/* ____________________________________________________________________________________________________________________*/


/* Contact Section & Footer Section */
.contact {
  background: var(--primary-color);
  padding: 200px 0;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
  width: 100%;
}

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact__content h1 {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2px;
  color: var(--tertiary-collor);
}

.contact__content h2 {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: var(--secondary-collor);
}

.contact__content a {
  font-size: 8rem;
  font-weight: 90;
  font-family: 'Times New Roman', Times, serif;
  color: var(--secondary-collor);
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:  transparent;
  text-decoration: none;
}

.contact__content p {
  font-size: 30px;
  color: var(--secondary-collor);
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; 
}

.social__container {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 2rem;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:  transparent;
  cursor: pointer;
  font-style: italic;
  font-weight: 10px;
}

.social__container a {
  font-family: 'Times New Roman', Times, serif;
}

.footer__rights h4 {
  font-size: 12px;
  margin-top: 40px;
  font-family:monospace;
  font-weight: 70px;
  color: var(--tertiary-collor);
}

.footer__rights span {
  font-size: 16px;
  margin-top: 20px;
  font-family:'Times New Roman', Times, serif;
  font-style: oblique;
  font-weight: 70;
}

.footer__rights a {
  font-size: 1rem;
}


/* Contact Mobile Responsive */
@media screen and (max-width: 1300px){
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  
  .contact__content h1 {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.7px;
    color: var(--tertiary-collor);
  }

  .contact__content a {
    font-size: 2.5rem;
    font-weight: 90;
    font-family: 'Times New Roman', Times, serif;
  }

  .contact__content p {
    font-size: 15px;
  }

  .social__container {
    font-size: 13px;
  }
}

@media screen and (max-width: 990px){
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  
  .contact__content h1 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.7px;
    color: var(--tertiary-collor);
  }

  .contact__content a {
    font-size: 2rem;
    font-weight: 90;
    font-family: 'Times New Roman', Times, serif;
  }

  .contact__content p {
    font-size: 10px;
  }

  .social__container {
    font-size: 12px;
  }
}

@media screen and (max-width: 412px){
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  
  .contact__content h1 {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.3px;
    color: var(--tertiary-collor);
  }

  .contact__content a {
    font-size: 1.5rem;
    font-weight: 90;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
  }

  .contact__content p {
    font-size: 5px;
  }

  .social__container {
    font-size: 8px;
  }

  .footer__rights h4 {
    font-size: 10px;
  }

  .footer__rights a {
    font-size: 10px;
  }

  .footer__rights span {
    font-size: 10px;
  }

}

@media screen and (max-width: 280px){
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  
  .contact__content h1 {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.3px;
    color: var(--tertiary-collor);
  }

  .contact__content a {
    font-size: 1.5rem;
    font-weight: 90;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
  }

  .contact__content p {
    font-size: 5px;
  }

  .social__container {
    font-size: 9px;
  }

  .footer__rights h4 {
    font-size: 10px;
  }

  .footer__rights a {
    font-size: 10px;
  }

  .footer__rights span {
    font-size: 10px;
  }

}
 
/* End of Contact */


/* ____________________________________________________________________________________________________________*/


